/* variable: color scheme, font-size, imported google fonts */
:root {
  /* Primary Color */
  --Grayish-blue: hsl(220, 15%, 55%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Dark-blue: hsl(218, 44%, 22%);

  /* Typography */
  --font-size: 0.938rem;

  /* Font */
  --Outfit: "Outfit", sans-serif;
}

/* Use Board-Box Model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--Outfit);
  background-color: var(--Light-gray);
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.main-container {
  background-color: var(--White);
  min-height: 34rem;
  flex-basis: 90%;
  border-radius: 20px;
}

.qr-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 3%;
}

.qr-image-container {
  height: 65%;
}

.qr-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
} 

.info {
height: 35%;
text-align: center;
/* padding: 1.5rem 0; */
}

.info h1 {
  font-size: calc(var(--font-size) + 0.5em);
  color: var(--Dark-blue);
  padding: 1em 0.5em;
}

.info p {
  color: var(--Grayish-blue);
  font-size:calc(var(--font-size) + 0.1em);
  padding: 0 1em;
  }



  @media screen and (min-width: 40em) {
    .main-container{
      flex-basis: 20rem;
      /* min-height: 40%; */
      min-height: 33rem;
    }

    .info h1 {
      font-size:calc(var(--font-size) + 0.4rem);
      line-height: 1.5;
    }
    
  }